.acf-accordion-block {
  .uk-accordion {
    padding: 0;
    margin: 0;
    li .uk-accordion-title {
      border-bottom: 2px solid lighten($color-grey, 10%);
      color: lighten($color-black, 40%);
      padding: 0 0 $p-2 0;
      position: relative;
      text-decoration: none;
      transition: color $transition;
    }

    li .uk-accordion-title:hover {
      color: $color-black;
    }

    li .uk-accordion-title:hover::before {
      background-color: $color-black;
    }

    li .uk-accordion-title::before {
      color: $color-white;
      content: "+";
      background-color: lighten($color-black, 40%);
      background-image: none;
      width: $p-3;
      height: $p-3;
      border-radius: 50%;
      margin-left: unset;
      margin-right: $p-2;
      float: left;
      display: flex;
      justify-content: center;
      transition: background-color $transition;
    }

    li .uk-accordion-content {
      margin: 0;
      padding: 0 0 $p-2 0;
    }

    li.uk-open .uk-accordion-title {
      color: $color-black;
    }

    li.uk-open .uk-accordion-title::before {
      content: "-";
      background-color: $color-black;
    }
  }
}