.acf-banner-block {
  position: relative;
  .uk-background-cover {
    min-height: 500px;
    position: relative;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $color-white;
    }
    .banner-item__content {
      position: relative;
      z-index: 2;
    }
  }
}