.acf-parallax-block {
  position: relative;
  .uk-background-cover {
    min-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: $color-white;
    }
    .parallax-item__content {
      position: relative;
      z-index: 2;
    }
  }
}